<div class="container">
    <div class="row" style="background-color: rgb(228, 225, 225);padding: 0px;">
      <div class="row">
        <div class="col-12" style="padding: 10px 0px 5px 10px;background-color:#FFFFFF;display: flex;justify-content: start;">
          <div class="col-10" style="padding: 10px;">
            <label>Deliver to:</label><span>abcdef...,</span><span> pincode</span><br>
            <label>Adderss</label>
          </div>
          <div class="col-2"> <button style="padding: 12px;background-color:#FFFFFF;border:1px rgb(185, 182, 182) solid;color: rgb(41, 138, 250);border-radius: 10px;">Change</button></div>
        </div>
      </div>
        <div class="row" style="padding: 5px 0px 0px 10px;">
        <div class="col-5 productimage">
            <img src="../../assets/ICON/productimg.png">
        </div>
        <div class="col-7" style="background-color: #FFFFFF;">
            <label class="prodcutname">Product name</label><br>
            <label style="font-size: 10px;">Product size,</label><label style="font-size: 10px;">product color</label><br>
            <label>Product prise</label><br>
            <label>Offers</label><br>
        </div>
      </div>
        <div class="row"> 
          <mat-label style="border: 1px rgb(133, 128, 128) solid;font-weight: 500;">Qty : </mat-label>
          <mat-form-field style="width: 30%;margin-left: -22px;margin-top: -16px;">
            <select style="border: 1px rgb(133, 128, 128) solid;border-left: none;" (change)="select()">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </mat-form-field>
        </div>
        <div class="row">
            <div class="col-12" style="background-color: #FFFFFF;">
                <label>Delivery by Sun Apr 9 |</label><label style="color :green"> Free Delivery</label>
            </div>
        
        <div style="background-color: #FFFFFF;">
            <div class="col-12">
                <button class="optionbtn" style="border-left: 1px black solid;">Save for later</button>
                <button class="optionbtn">Remove</button>
                <button class="optionbtn">Buy this now</button>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" >
          <h4>Price details</h4>
        </div>
     <div class="col-12 prisedetaillabels" >
      <label>price(1 item)</label><label>999</label>
    </div>
      <div class="col-12 prisedetaillabels" >
        <label>Discount</label><label>109</label>
      </div>
      <div class="col-12 prisedetaillabels" >
        <label>Delivery Charges</label><label>40</label>
      </div>
      <div class="col-12 prisedetaillabels" style="border-bottom: 1px black solid;border-top: 1px black solid;">
        <label>Total Amount</label><label>1148</label>
      </div>
     <div class="col-12 prisedetaillabels" style="color:darkgreen">
      <label>Total saving</label><label>109</label>
     </div>
      </div>
    </div>


</div>